<div class="content  shadow-sm">
<div style="display: grid;grid-template-columns: 1fr min-content; margin-bottom: 10px">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
  </mat-form-field>
  <button mat-stroked-button (click)="openDialog()">Nuevo</button>
</div>


  <mat-table [dataSource]="dataSource">

    <!-- Columna nombre -->
    <ng-container matColumnDef="nombreProducto">
      <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE</mat-header-cell>
      <mat-cell *matCellDef="let producto"> {{producto.nombreProducto | uppercase}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion</mat-header-cell>
      <mat-cell *matCellDef="let producto"> {{producto.descripcion}} </mat-cell>
    </ng-container>

    <!-- Columna Ttpo establecimiento -->
    <ng-container matColumnDef="precioProducto">
      <mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO</mat-header-cell>
      <mat-cell *matCellDef="let producto"> {{producto.precioProducto | currency}} </mat-cell>
    </ng-container>



    <!-- Columna Botones -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
      <mat-cell *matCellDef="let producto">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
<!--          <button mat-menu-item (click)="agergarAPromociones(producto)">-->
<!--            <mat-icon>add</mat-icon>-->
<!--            <span>Agregar a promociones</span>-->
<!--          </button>-->

<!--          <button mat-menu-item (click)="openDialogModificarProducto()">-->
<!--            <mat-icon>add</mat-icon>-->
<!--            <span>Modificar Producto</span>-->
<!--          </button>-->

        </mat-menu>


      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

</div>
