<agm-map [latitude]="lat" [longitude]="lng" [mapTypeId]=maptype [zoom]="14.5"  >
  <div *ngFor="let location of locations">

    <agm-marker  [latitude]=location.l[0] [longitude]=location.l[1] (markerClick)="mostrarDatosRepartidor(location)">



    </agm-marker>
  </div>

</agm-map>
