
  <form #f="ngForm" (ngSubmit)="registrar(f)" style="display: flex;flex-direction: column">
  <h3>Registrar Apoyo</h3>
    <mat-form-field appearance="fill">
      <mat-label>Establecimiento</mat-label>
      <mat-select [(ngModel)]="establecimiento" name="establecimiento" required>
        <mat-option  *ngFor="let establecimiento of this.establecimientos"
                     [value]="establecimiento">
          {{establecimiento.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Lugar</mat-label>
      <mat-select [(ngModel)]="lugar" name="lugar" required>
        <mat-option  *ngFor="let lugar of this.lugaresEntrega"
                     [value]="lugar">
          {{lugar.nombre}} - S/{{lugar.precio}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-label>Tiempo</mat-label>
    <mat-radio-group
      class="example-radio-group"
      [(ngModel)]="tiempo" name="tiempo" required>
      <mat-radio-button value="Ahora mismo">Ahora mismo</mat-radio-button>
      <mat-radio-button value="5 Minutos">5 Minutos</mat-radio-button>
      <mat-radio-button value="10 Minutos">10 Minutos</mat-radio-button>
    </mat-radio-group>



    <button mat-stroked-button color="primary" type="submit" [disabled]="f.invalid">Resgistrar</button>
  </form>


