/*Footer-Top -------------- */
.footer {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  background: #ffffff;
  border-top: 1px solid #e5edef;
  font-size: 14px;
}
    .container {
    max-width: 1440px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    }
        .head-footer {
        padding: 30px 0;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        }
            .head-footer > div {
            display: inline-flex;
            padding: 0 30px;
            }
                .head-footer > div .cont-img {
                width: 70px;
                height: 70px;
                border-radius: 8px;
                border: 1px solid #e5edef;
                text-align: center;
                line-height: 70px;
                color: #332927;
                font-size: 42px;
                }
                    img {
                        max-width: 100%;
                    }
                    .img-footer{
                        padding: 10px;
                    }
                .head-footer > div .cont-text {
                padding-left: 20px;
                width: calc(100% - 50px);
                }
                    .head-footer > div .cont-text p {
                    color: #7d7d7d;
                    font-size: 12px;
                    max-width: 200px;
                    }

/*Footer-Botton ----------------------*/
    .footer-cont {
    border-top: 1px solid #e5edef;
    }
        .info-footer {
        display: flex;
        }
            .info-footer > div {
            padding: 0 30px;
            border-right: 1px solid #e5edef;
            width: 50%;
            }
            .info-footer > div:last-child {
                border: none;
                width: 50%;
                }
                .info-footer > div h6 {
                color: #332927;
                font-size: 14px;
                margin: 20px 0;
                }
                .list-footer {
                max-width: 410px;
                width: 100%;
                padding-bottom: 20px;
                }
                ul.list-footer {
                    margin: 0;
                    padding: 0;
                  }
                    .list-footer li a {
                    font-size: 12px;
                    color: #7d7d7d;
                    transition: all 0.3s linear;
                    text-decoration: none;
                    }
                    .cont-apps a .ios-img {
                    margin-left: 7px;
                    }
                    .cont-apps a .android-img {
                    height: 58px;
                    width: 137px;
                    margin-left: 0px;
                    }
                
                /*Redes sociales ----------------*/
                .redes {
                display: inline-flex;
                }
                ul {
                    list-style: none;
                  }
                ul.redes {
                padding: 0;
                }
                    .redes li {
                    margin: 2px;
                    padding: 5px;
                    }
                        .fa-facebook,
                        .fa-twitter,
                        .fa-instagram {
                        font-size: 25px;
                        color: #332927;
                        }
                            .fa-facebook:hover {
                            color: #046ee5;
                            }
                            .fa-twitter:hover {
                            color: #1da1f2;
                            }
                            .fa-instagram:hover {
                            color: #f14c5c;
                            }

        /*Copi ---------------*/
        .footer-cont {
        border-top: 1px solid #e5edef;
        }
            .firm-footer {
            padding-top: 32px;
            text-align: center;
            font-size: 12px;
            color: #332927;
            }
                .copi {
                padding-bottom: 0%;
                margin-bottom: 0%;
                }


/*Responsive-app ----------*/
@media only screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .head-footer{
        display: none;
    }
    .info-footer {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        border-top: none;
    }
        .info-footer>div {
            width: 50%;
            padding: 0;
            border: none;
        }
            .info-footer>div:last-child {
                margin: 0;
                width: 100%;
            }
        .info-footer .app-links h6 {
            width: 100%;
            text-align: center;
        }
        .info-footer .app-links .cont-apps {
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 100%;
        }
        .cont-apps a .ios-img {
            margin-left: 0px;
        }
        .info-footer .app-links .cont-apps a {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            padding: 0;
            height: 40px;
            margin-right: 0;
            display: inline-flex;
        }
        .info-footer .app-links .redes {
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 100%;
            display: inline-flex;
        }
}


