<footer id="footer" class="footer">
    <div class="container">
        <div id="head-footer" class="head-footer">
            <div>
                <div class="cont-img">
                    <img class="img-footer" alt=""
                        src="https://www.flaticon.es/svg/static/icons/svg/3684/3684626.svg" />
                </div>
                <div class="cont-text">
                    <span>Ahorra tiempo</span>
                    <p>Recibe tu mercado en menos de 1 hora</p>
                </div>
            </div>
            <div>
                <div class="cont-img">
                    <img class="img-footer" alt="" src="https://www.flaticon.es/svg/static/icons/svg/693/693334.svg" />
                </div>
                <div class="cont-text">
                    <span>En manos expertas</span>
                    <p>Un shopper selecciona tus productos con amor</p>
                </div>
            </div>
            <div>
                <div class="cont-img">
                    <img class="img-footer" alt="" src="https://www.flaticon.es/svg/static/icons/svg/3644/3644000.svg" />
                </div>
                <div class="cont-text">
                    <span>Calidad 100%</span>
                    <p>Si no te gusta el estado de un producto, ¡no lo pagas!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-cont">
        <div id="info-footer" class="container info-footer">
            <div>
                <h6>Categorías</h6>
                <ul class="list-footer">
                    <li>
                        <a href="#">
                            <span>Restaurantes</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Bodegas</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Carnicerias</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Farmacias</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Librerias</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Licorieas</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Mercado Libre</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="center-content">
                <h6>Información de interés</h6>
                <ul class="list-footer footer-links">
                    <li>
                        <a rel="nofollow" target="_blank" href="#">
                            <span> Términos y condiciones </span></a>
                    </li>
                    <li>
                        <a rel="nofollow" target="_blank" href="#">
                            <span> Trabaja con nosotros </span></a>
                    </li>
                    <li>
                        <a rel="nofollow" target="_blank" href="#">
                            <span> Registra tu restaurante </span></a>
                    </li>
                    <li>
                        <a rel="nofollow" target="_blank" href="#">
                            <span> Libro de Reclamaciones</span></a>
                    </li>
                    <li>
                        <a rel="nofollow" target="_blank" href="#">
                            <span>Politica de Tratamiento de Datos Personales
                            </span></a>
                    </li>
                    <li>
                        <a rel="nofollow" target="_blank" href="#">
                            <span> Derechos Arco </span></a>
                    </li>
                </ul>
            </div>
            <div class="app-links">
                <h6>Descarga la App</h6>
                <div class="cont-apps">
                    <a target="_blank" rel="nofollow" href="#">
                        <img alt="play-store-img" class="ios-img"
                            src="https://images.rappi.com/web/apple-store_app-store-es.svg?e=webp" />
                    </a>
                    <a target="_blank" rel="nofollow" href="#">
                        <img alt="play-store-img" class="android-img"
                            src="https://images.rappi.com/web/play-store_play-store-es.png?e=webp" />
                    </a>
                </div>
                <h6 class="follow">Síguenos</h6>
                <ul class="redes">
                    <li>
                        <a target="_blank" class="red" rel="nofollow" href="#">
                            <span><i class="fab fa-facebook"></i></span></a>
                    </li>
                    <li>
                        <a target="_blank" class="red" rel="nofollow" href="#">
                            <span><i class="fab fa-twitter"></i></span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" class="red" rel="nofollow" href="#">
                            <span><i class="fab fa-instagram"></i> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-cont">
            <div id="firm-footer" class="firm-footer">
                <p class="copi">© 2020 DeliveryPe</p>
            </div>
        </div>

      
    </div>
</footer>