
<form #f="ngForm" (ngSubmit)="registrar(f)" style="display: flex;flex-direction: column">
  <h3>Registrar Apoyo</h3>
  <mat-form-field appearance="fill">
    <mat-label>Establecimiento</mat-label>
    <mat-select [(ngModel)]="establecimiento" name="establecimiento" required>
      <mat-option  *ngFor="let establecimiento of this.establecimientos"
                   [value]="establecimiento">
        {{establecimiento.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Lugar</mat-label>
    <mat-select [(ngModel)]="lugar" name="lugar" required>
      <mat-option  *ngFor="let lugar of this.lugaresEntrega"
                   [value]="lugar">
        {{lugar.nombre}} - S/{{lugar.precio}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Repartidor</mat-label>
    <mat-select [(ngModel)]="RepartidorSeleccionado" name="rep" required>
      <mat-option *ngFor="let r of repartidoresTrabajando" [value]="r" >
        {{r.nombreRepartidor}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <button mat-stroked-button color="primary" type="submit" [disabled]="f.invalid">Resgistrar</button>
</form>


