<mat-form-field class="example-full-width">
  <mat-label>Lugar Entrega</mat-label>
  <input matInput [value]="ordenTransporteSeleccionada.lugarEntrega" disabled>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Direccion</mat-label>
  <input matInput [value]="ordenTransporteSeleccionada.direccionEntrega" disabled>
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Cliente</mat-label>
  <input matInput [value]="ordenTransporteSeleccionada.nombreCliente" disabled >
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Costo Total</mat-label>
  <input matInput [value]="ordenTransporteSeleccionada.costoTotal" disabled >
</mat-form-field>

<form (ngSubmit)="asignarOrdenARepartidor(f)" #f="ngForm">


  <mat-form-field class="example-full-width">
    <mat-label>Numero De Referencia</mat-label>
    <input matInput [(ngModel)]="numeroReferencia" name="numeroReferencia"  maxlength="9" minlength="9" required>
  </mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Repartidor</mat-label>
  <mat-select [(ngModel)]="RepartidorSeleccionado" name="rep" required>
    <mat-option *ngFor="let r of repartidoresTrabajando" [value]="r" >
      {{r.nombreRepartidor}}
    </mat-option>
  </mat-select>
</mat-form-field>



<button mat-flat-button color="primary" type="submit">Asignar</button>
</form>
<!--buttons: "-MVqZmmuM__MUvRfJQo4"-->
<!--costoDelivery: "2.50"-->
<!--costoTotal: "24.50"-->
<!--courierNotfound: true-->
<!--direccionEntrega: "efssdfs"-->
<!--estado: "atendido"-->
<!--id: "-MVqZmmuM__MUvRfJQo4"-->
<!--idEstablecimiento: "wZHaZOod4jhzzg66vfI0idFD7TY2"-->
<!--idPedido: "-MVqZj1U8s4pjnBpcjoA"-->
<!--idUserRepartidor: "computer"-->
<!--idrep_est: "computer_atendido"-->
<!--lugarEntrega: "la villa centro"-->
<!--nombreCliente: "Sergio  carrillo diestra"-->
<!--nombreEstablecimiento: "minimarket"-->
<!--nombreRepartidor: "porDefinir"-->
<!--pagaCon: ""-->
<!--pagoSinVuelto: true-->
<!--subTotal: "22.00"-->
<!--telefonoCliente: "+51999999996"-->
<!--telefonoReferenciaCliente:-->
