<mat-tab-group>

            <mat-tab label="Nuevo">

              <div class="container mt-4">

                <!--      <button mat-raised-button color="primary" class="ml-2" (click)="fixHorarios()"-->
                <!--              type="button">Generar Horarios-->
                <!--      </button>-->


                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="standard">
                      <mat-label>Nombre categoria</mat-label>
                      <input matInput [(ngModel)]="categoriaInput" #ctrl="ngModel">
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="ml-2" (click)="agregarCategoria()"
                            type="button">Agregar+
                    </button>
                  </div>


                </div>

                <div class="row ml-4">

                  <mat-selection-list #c>
                    <mat-list *ngFor="let c of cattEstablecimiento">
                      {{c}}
                    </mat-list>
                  </mat-selection-list>

                </div>
              </div>


              <form (ngSubmit)="submit(establecimientoForm.getRawValue())" [formGroup]="establecimientoForm">
                <div class="container mt-4">

                  <div class="row">
                    <div class="col-auto">
                      <mat-form-field appearance="standard">
                        <input (keyup)="buscar(a.value)" #a type="text" placeholder="Usuario" matInput
                               [matAutocomplete]="auto" [formControl]="autoCompleteControl">

                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                          [displayWith]="getOptionText" (optionSelected)='eventselect($event.option.value.id)'>
                          <mat-option *ngFor="let item of usersList| async; let index = index" [value]="item">
                            {{item.nombreCompleto | titlecase}} {{item.telefono}}
                          </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngFor="let validation of validation_msgs.autoCompleteControl">
                          <div *ngIf="autoCompleteControl.hasError(validation.type)">
                            {{validation.message}}
                          </div>
                        </mat-error>

                      </mat-form-field>
                    </div>

                    <div class="col-auto">

                      <mat-form-field appearance="standard">
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="categoriaEstablecimiento">

                          <mat-option *ngFor="let c of categoriasList |async" [value]="c.nombre">
                            {{c.nombre}}
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="establecimientoForm.controls['categoriaEstablecimiento'].errors?.required">El
                          campo es requerido
                        </mat-error>

                      </mat-form-field>

                    </div>
                    <div class="col-auto">
                      <mat-form-field appearance="standard">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" value="asd">
                        <mat-error *ngIf="establecimientoForm.controls['nombre'].errors?.required">El campo es
                          requerido
                        </mat-error>
                      </mat-form-field>

                    </div>

                    <div class="col-auto">
                      <mat-form-field appearance="standard">
                        <mat-label>Direccion</mat-label>
                        <input matInput formControlName="direccion" value="asd">
                        <mat-error *ngIf="establecimientoForm.controls['direccion'].errors?.required">El campo es
                          requerido
                        </mat-error>
                      </mat-form-field>

                    </div>

                    <div class="col-auto">
                      <mat-form-field appearance="standard">
                        <mat-label>Latitud</mat-label>
                        <input matInput formControlName="latitude" type="number" value="12">
                        <mat-error *ngIf="establecimientoForm.controls['latitude'].errors?.required">El campo es
                          requerido
                        </mat-error>
                      </mat-form-field>

                    </div>
                    <div class="col-auto">
                      <mat-form-field appearance="standard">
                        <mat-label>Longitud</mat-label>
                        <input matInput formControlName="longitude" type="number" value="11">
                        <mat-error *ngIf="establecimientoForm.controls['longitude'].errors?.required">El campo es
                          requerido
                        </mat-error>
                      </mat-form-field>

                    </div>
                    <div class="col-auto">
                      <mat-form-field appearance="standard">
                        <mat-label>Logo</mat-label>
                        <input matInput formControlName="logo" value="asd">
                        <mat-error *ngIf="establecimientoForm.controls['logo'].errors?.required">El campo es
                          requerido
                        </mat-error>
                      </mat-form-field>

                    </div>


                    <div class="col-auto">

                      <mat-form-field appearance="standard">
                        <mat-label>Descripcion</mat-label>
                        <textarea matInput formControlName="descripcion" value="asd"></textarea>
                        <mat-error *ngIf="establecimientoForm.controls['descripcion'].errors?.required">El campo
                          es requerido
                        </mat-error>
                      </mat-form-field>

                    </div>


                  </div>

                  <div class="row">
                    <button mat-raised-button color="primary" type="submit">Registrar</button>
                  </div>

                </div>
              </form>


            </mat-tab>


            <mat-tab label="Listar">


              <app-list></app-list>

            </mat-tab>

</mat-tab-group>


<!-- <pre>

    {{cattEstablecimiento}}
</pre> -->
