.mat-tab-group {
  margin-bottom: 48px;
}

.panelpedidos {
  margin: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}


.panelitem {
  height: 400px;
  display: grid;
  grid-template-rows: min-content 1fr;
}



@media only screen and (max-width: 1200px) {

  .panelpedidos {
    margin: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 15px;
  }


}
