<!-- <app-content-home></app-content-home> -->



<!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
<mat-sidenav-container class="example-sidenav-container" >


  <mat-sidenav #sidenav fullscreen #snav [mode]="mobileQuery.matches ? 'over' : 'over'" position="end" [fixedInViewport]="true"
    [fixedBottomGap]="0" [fixedTopGap]="0">



    <div class="navCustomContainer">
      <div class="sidenavHeader">

        <div class="sidenavHeaderDescription">

          <h5 style="margin-bottom: 0px;">Detalles de su pedido</h5>

        </div>

        <button mat-mini-fab (click)="matsidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>

      </div>



      <div *ngIf="pedidoService.pedidosList.length>0" class="store-info-container">
        <div class="store-main-data">
          <div class="cont-img">
            <div class="store-image main"
              style="background-image: url(https://firebasestorage.googleapis.com/v0/b/delivery-p.appspot.com/o/iconosDeliveryPeWeb%2Fcesta-de-la-compra.png?alt=media&token=61d93145-9efe-4687-a718-3ee423bd0ade);">
            </div>
          </div>
          <div class="cont-info">
            <div class="header-info">
              <div class="info-container"><b>Establecimientos</b>
              </div>
            </div>
          </div>
        </div>
        <div  *ngIf="pedidoService.pedidosList.length>1" class="numberOrders-container">
          <p  style="margin: 0px; padding: 0px;">Se van a crear
            {{pedidoService.pedidosList.length}} órdenes </p>
          <mat-icon *ngIf="pedidoService.pedidosList.length>1" class="iconinfo"> info_outline</mat-icon>
        </div>

      </div>


      <div class="sidenavBody">





        <div *ngIf="pedidoService.calculartotalitems()<=0?true:false" class="PedidoVacio">
          <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_basket</mat-icon>

          <p class="f-body"> <strong>Tu canasta está vacía</strong></p>

          <p class="f-caption">Te invitamos a volver a nuestras tiendas y agregar productos a tu canasta</p>
        </div>









        <div *ngIf="pedidoService.calculartotalitems()>0" class="cont-product-header">

          <div  *ngFor="let pdl of pedidoService.pedidosList">

            <div *ngFor="let dp of pdl.pedioDetalles; index as i ">




              <div *ngIf="i==0" class="store-basket-header" style="border-top: 4px solid #e5edef!important;">
                <div class="store-info-container">

                  <div class="store-main-data">
                    <div class="cont-img">
                      <div class="store-image" [ngStyle]="{'background-image': 'url(' + pdl.imagen + ')'}"> </div>

                    </div>
                    <div class="cont-info">
                      <div class="header-info ">
                        <div class="info-container"><b class="f-headline">{{pdl.nombreEstablecimiento}}</b>

                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>




              <div class="products-container">
                <img src="{{dp.imagenProducto}}" class="cont-img">

                <span class="productoinfoItemlist">
                  <span class="product-info">
                    <span class="product-name">{{dp.nombreProducto}}</span>
                    <div class="price-item">
                      <p class="price "> S/ {{dp.precioVenta | number:'1.2'}}</p>
                    </div>
                  </span>

                  <div class="calculator">
                    <button *ngIf="dp.cantidad>1" type="button" (click)="decrementarCantidad(dp)">-</button>

                    <i   *ngIf="dp.cantidad==1" (click)="eliminardp(dp)" class="material-icons icons">delete_forever_outline</i>
                    <div class="unit-value"><span class="ng-star-inserted">{{dp.cantidad}} U</span></div>
                    <button type="button" (click)="incrementarCantidad(dp)"> + </button>
                  </div>
                </span>

              </div>
            </div>
          </div>


        </div>







      </div>

      <div *ngIf="pedidoService.pedidosList.length>0" class="sidenavfooter">

        <div class="store-basket-options ">

          <div class="delete-order-container ng-star-inserted">
           <button class="deletebutton " (click)="pedidoService.eliminarTodosLosPedidos()">Vaciar canasta</button>
          </div>

          <button class=" primary-button-filled " [routerLink]="['/enviarpedido']"><span
            class="order-total-products">{{pedidoService.calculartotalitems()}}</span><span>Ir a pagar</span><span
            class="subtotal">S/ {{pedidoService.calcularMontoTotal() | number:'1.2'}}</span></button>

        </div>

      </div>



    </div>




  </mat-sidenav>

  <mat-sidenav-content>

    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>





<!-- <app-lista-productos></app-lista-productos> -->

<!--
<div class="card" style="width: 18rem;  ">
    <img  class="card-img-top" >

    <div class="card-body">
      <h5 class="card-title">{{es.nombre}}</h5>
      <p class="card-text">{{es.descripcion}}</p>
      <a href="#" class="btn btn-primary">{{es.direccion}}</a>
    </div>
    <span>{{es.abierto}}</span>
   <P>{{es.categoriaEstablecimiento_nombreEstablecimiento}}</P>
  </div> -->
