.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.mat-sidenav{
    max-width: 500px;
    width: 100%;


}


.navCustomContainer{
  display: flex;
  flex-direction: column;
  height: 100%;

}


.navCustomContainer .sidenavHeader{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  padding: 15px 30px;
  border-bottom: 1px solid #e5edef;
}

.navCustomContainer .sidenavHeader .sidenavHeaderDescription{
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.navCustomContainer .sidenavHeader .mat-mini-fab{
 background-color: white!important;
 color: black!important;

}

.navCustomContainer .sidenavBody{
  font-family: Poppins-Regular,Helvetica,Arial,sans-serif;
  color: #7d7d7d;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  /* overflow-x: hidden; */
}

.sidenavBody .mat-icon{
color:#f27e00;
padding-bottom: 50px;
font-size: 50px;

}

.PedidoVacio{
display: flex;
flex-direction: column;
align-items: center;
  justify-content: center;
  height: 100%;
}
.f-body{
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
}

.f-caption{
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
}

.products-container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: 1px solid #e7e7e7;
  padding: 15px 45px;
  width: 100%

}

.item-basket{
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  padding: 10px 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.products-container .cont-img{
  width: 46px;
  height: 46px;
  border-radius: 5px;
}
.product-info {
  max-width: calc(100% - 130px);
}

.price-item {
display: flex;
align-items: stretch;
justify-content: flex-start;
flex-direction: row;
margin-top: 4px;
}

.price{
color: #332927;
  font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
}

.product-name {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 200px;
font-weight: 400;
display: block;
font-family: Poppins-Regular,Helvetica,Arial,sans-serif;
color: black;
}

.productoinfoItemlist{
      display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 15px;
    width: 100%;
}

.calculator{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: row;
min-width: 100px;
height: 32px;
background-color: #fff;
border-radius: 8px;
box-shadow: 0 6px 10px 0 rgba(128,98,96,.16);
margin: 5px;
}

.calculator button {
font-size: 20px;
color: #706967;
background-color: transparent;
padding: 0 8px;
border: 0px;
cursor: pointer;
}

.calculator .icons {
font-size: 20px;
color: #706967;
overflow: hidden;
width: 20px;
}




.calculator .unit-value {
font-size: 14px;
font-weight: 600;
text-align: center;
min-width: 40px;
}
.price-item p{
display: inline ;
font-weight: bold;
margin: 0px;
padding: 0px;
}

.store-info-container {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
width: 100%;
padding: 15px 20px;
border-bottom: 1px solid #e5edef;
background-color: #fff;
}

.store-main-data {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
width: 100%;
}

.cont-img {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
width: 70px;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
margin-right: 15px;
font-size: 0;
border-radius: 50%;
position: relative;
}

.store-image {
width: 46px;
height: 46px;
border-radius: 50%;
background-color: #f7f7f7;
background-position: 50%;
background-size: cover;
box-shadow: 0 2px 2px 0 rgba(0,0,0,.03), 0 4px 4px 0 rgba(0,0,0,.03), 0 8px 8px 0 rgba(0,0,0,.03), 0 16px 16px 0 rgba(0,0,0,.03), 0 32px 32px 0 rgba(0,0,0,.03), 0 64px 64px 0 rgba(0,0,0,.03);
}


.cont-info {
width: 100%;
font-size: 14px;

}

.header-info {
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
width: 100%;
color: #7d7d7d;}

.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
}

.numberOrders-container {
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: row;
height: 25px;
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
padding: 0 10px;
text-align: center;
color: #0cc665;
background: rgba(12,198,101,.05);
border-radius: 10px;
margin-top: 5px;
}

.iconinfo{

font-size:20px!important;
color: #ff441f;
padding: 0!important;
display: flex!important;
justify-content: center;
align-content: center;
}


.store-basket-header {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
width: 100%;
}


.cont-product-header {
  width: 100%;
  padding: 0;
  background-color: #fff;
  overflow-y: none;
}

.store-basket-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 15px 0;

}

.delete-order-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 50%;
  cursor: pointer;

}

.store-basket-options .delete-order-container button {
  width: 95%;
  padding: 15px 8.5px;
}

.order-by-store {
  width: 50%;
  padding: 13px 8.5px;
}

.order-total-products {
  list-style: none;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 1px 3px rgba(0,0,0,.2);
  font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: #297e78;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 32px;
  height: 32px;
  font-size: 16px;
}

.primary-button-filled {
  list-style: none;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
  background-color: #0cc665;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-shadow: 0 1px 3px rgba(0,0,0,.2);
  font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
  justify-content: space-between;
  font-size: 16px;
  width: 100%;
  min-height: 52px;
  padding: 10px 20px;
}

.deletebutton{
  list-style: none;
margin: 0;
border: 0;
vertical-align: baseline;
box-sizing: border-box;
outline: none;
font-size: 14px;
letter-spacing: 0;
background: transparent;
font-family: Poppins-Regular,Helvetica,Arial,sans-serif;
color: rgba(112,105,103,.7);
border-radius: 8px;
text-align: center;
cursor: pointer;
width: 95%;
padding: 15px 8.5px;
}

.sidenavfooter{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 15px 0;
    box-shadow: 0 -5px 10px 0 rgba(128,98,96,.16);
}



/* :host-context(body) .body-container {
  background-color: red;
  overflow: hidden;
} */



@media only screen and (max-width: 475px)
{

  .products-container{
    padding: 15px 5px;

  }

  .product-name{
    width: 100%;
  }

  .cont-img{
    margin-right: 0px;
  }


}


@media only screen and (max-width: 768px)
{
  .order-by-store {
    width: 100%;
    min-height: 52px;
    padding: 10px 20px;

}


.store-basket-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  min-height: 113px;
}

.primary-button-filled{
  width: 100%;
  min-height: 52px;
  padding: 10px 20px;
}
}

