<div class="panelpedidos">

  <mat-card class="panelitem">
    <h4>Por Confirmar</h4>
    <app-listapedidosporconfirmar></app-listapedidosporconfirmar>
  </mat-card>

  <mat-card class="panelitem">
    <h4>Rechazados</h4>
    <app-listarpedidosrechazados></app-listarpedidosrechazados>
  </mat-card>

  <mat-card class="panelitem">
    <h4>En establecimiento</h4>
    <app-listarpedidosenestablecimiento></app-listarpedidosenestablecimiento>
  </mat-card>

  <mat-card class="panelitem">


    <div style="display: grid; grid-template-columns: 1fr min-content; margin-bottom: 3px">
      <h4>Asignados a motorizados</h4>
      <button mat-stroked-button (click)="openDialogOrdTransportApoyo()">Registrar Apoyo</button>
    </div>

    <app-listarordenestransporteatendidas></app-listarordenestransporteatendidas>
  </mat-card>


  <!--  <mat-card class="panelitem">-->
  <!--    <div style="display: grid; grid-template-columns: 1fr min-content; margin-bottom: 3px">-->
  <!--      <h4>Apoyos</h4>-->
  <!--      <button mat-stroked-button (click)="openDialog()">Nuevo</button>-->
  <!--    </div>-->

  <!--    <app-listaapoyos [dataSource]="data"></app-listaapoyos>-->
  <!--  </mat-card>-->

  <mat-card class="panelitem">
    <div>
      <h4>Ubicacion de repartidores en tiempo real</h4>

    </div>

    <app-mapcourier></app-mapcourier>
  </mat-card>

</div>
