<div class="content  shadow-sm example-container">

  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)"  #input>
  </mat-form-field>


  <table mat-table [dataSource]="dataSource"  matSort multiTemplateDataRows>

      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">

        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td [ngStyle]="setViewStateRetrasado(element)?{'background-color': '#FFF0EF'} : {'background-color': '#E3FFE1'}" *matCellDef="let element" (click)="loadPedidoDetalle(element)">
          <div *ngIf="column!='buttons' && column!='created_at'">
            {{element[column]}}
          </div>

            <div class="btnsContainer" *ngIf="column=='buttons'">
              <button mat-mini-fab color="primary" (click)="copyMessageToClipBoard(element)"  >
                <mat-icon>text_snippet</mat-icon>
              </button>
              <button  type="button" name=""  class="btn btn-primary" (click)="actualizarEstadoPedido(element.id,element.idEstablecimiento,'finalizado')">Finalizar</button>
              <button type="button" name=""  class="btn btn-danger" (click)="actualizarEstadoPedido(element.id,element.idEstablecimiento,'rechazado')">Rechazar</button>
            </div>


          <div *ngIf="column=='created_at'">
            {{element[column]|date:'short'}}
          </div>
          </td>

        </ng-container>





      <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                  <div class="row mb-1 ml-5" *ngFor="let detalle of detalles">
                      <div class="span12">
                          <b>X {{detalle.cantidad}}</b> <span class="ml-3">{{detalle.nombreProducto}}</span> <span
                          class="ml-3"> Precio S/.{{detalle.precioVenta*detalle.cantidad | number: '1.0-2'}}</span>
                      </div>

                  </div>
                  <div>

                  </div>


              </div>
          </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>
