
.modalContainer{
    position: relative;
}
.cont-view-product{
    display: grid;
    grid-template-columns: 440px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 570px;
}

.productImageContainer{
   display: flex;
   height: 100%;
   padding: 0px 20px 0px 20px;
   align-items: center;
   justify-content: center;
}

.productInfoContainer{
  display: flex;
  height: 100%;
  padding: 5px 20px 0px 20px;
  overflow-y: scroll;
  flex-direction: column;
}
.productInfoContainer h3{
  color: #808080;
font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
font-size: 25px;
line-height: 1.5;
font-weight: bold;
padding: 0px;
margin: 0;
}
.productInfoContainer .productInfoText{
  font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #7d7d7d;

}

.dividertitle{
  visibility: hidden;
}

.element img{
    max-width: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.cont-view-product .header{
    grid-column-start: 1;
    grid-column-end: 3;

    height: fit-content;
    letter-spacing: -.83px;
    line-height: 1.3;
    padding:  30px 50px 0px 20px;
    
}
.cont-view-product .header h2{
  text-align: left;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 30px;
  font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
  line-height: 1.3;
  letter-spacing: -.83px;
  font-weight: bold;
  padding: 0px 20px 0px 20px;
}

.cont-view-product .footer{
    grid-column-start: 2;
    grid-column-end: 3;
    height: fit-content;
    line-height: 1.3;
    padding:  0 50px 0 20px;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 18px;
    width: 100%;
 
}

.btn-carrito {
    background-image: linear-gradient(130deg,#ff9259,#ff2426 70%);
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: auto;
    
    max-width: 60%;
    text-align: center;
    cursor: pointer;
    justify-content: space-between;
  }



.close-button{
    float: right;
    top:0px;
    right:0px;
    position: absolute;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }
  
  .close-icon:hover {
    transform: rotate(180deg);
  }
  
  ::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
  }
  
  ::ng-deep .icon-outside .mat-dialog-container {
   overflow: unset;
   
  }


  .menos, .mas{
    margin-left: 5px;
    margin-right: 5px;
  }


  
body .not-scroll {
    overflow: hidden;
}

.subtitle{
  color:black!important;
}


  
  ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke:#F27E00!important;
}
  

  @media only screen and (max-width: 768px){
    .store-container img{
      width: 100%;
      height: 100%;
    }
    .store-item{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .store-info{
      padding-top: 5px;
    } 



    
    .cont-view-product{
      display: grid;
      grid-template-columns: 1fr ;
      max-width: 90%;
      max-width: unset;
  }

  .productImageContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
     height: 100%;
     padding: 40px 20px 0px 20px;
     align-items: center;
  
  }
  .element img{
    width: 512px;
    max-height: 350px;
    height: 100%;
  }

  .productInfoContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    overflow-y: unset;
    padding-bottom: 70px;
    
     
  
  }

  .productInfoContainer p{
    font-size: 14px;
    color: #7d7d7d;
    padding-left: 8px;

  }


  .cont-view-product .header{
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
    padding:  30px 0 0 0;  
}
.cont-view-product .footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
background-color: white;
}


.dividertitle{
  visibility: visible;
}

  }