


<div class="modalContainer">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>
    <div class="cont-view-product">

        <div class="header">
    <h2>{{data.pedidodetalleer.producto.nombre | titlecase}}</h2>
        </div>


        <div class="element productImageContainer">
            <mat-spinner  [hidden]="!imageLoader" (load)="true"></mat-spinner>

         <img [hidden]="imageLoader" src={{data.pedidodetalleer.producto.imagen}}  (load)="this.imageLoader = false;">
        </div>
        <div class="productInfoContainer">
            <p>
                <mat-divider class="dividertitle"></mat-divider>  </p>
            <h3 class="subtitle">Descripción</h3>

            <!-- problema al tener mucho contenido y justificar al centro se desborda hacia arriba -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatum illo ut minima perspiciatis, consectetur qui, esse vel porro est neque totam eum veritatis reprehenderit beatae rem, voluptate accusamus. Architecto ullam omnis, voluptates esse sit culpa. Sit assumenda modi, harum necessitatibus quasi veniam eligendi ratione voluptatem ea esse at inventore deserunt rem, est quisquam eius dolores eum deleniti? Eligendi modi fuga cupiditate possimus rerum molestiae reprehenderit. Repudiandae nemo, distinctio odio illo laboriosam, vitae optio soluta consequatur, repellat accusantium qui. Cupiditate culpa cumque magni quo vitae officiis non quod ea quibusdam quae qui facilis repellat, quas laboriosam quidem ipsa similique nemo consequatur vel odio tempora recusandae debitis ducimus deleniti? Nesciunt hic amet velit quam! At perspiciatis error pariatur, saepe earum molestias suscipit perferendis repudiandae assumenda debitis eius voluptatum temporibus obcaecati exercitationem, voluptatibus nesciunt rem mollitia! Pariatur corrupti quaerat doloremque ad iste quidem assumenda quasi adipisci exercitationem voluptate porro, tempore, iure deserunt, tempora ex est odit molestias earum fugit. Enim, ab eius. Error nam quidem veniam, quasi, nulla neque officiis deleniti magnam molestias a vitae suscipit soluta quas explicabo quod tempora voluptates reprehenderit odit corrupti sequi laborum dolore. Rerum atque fugiat, architecto cum aliquam provident, dignissimos cumque corrupti magni enim unde saepe ea nesciunt? Accusamus, expedita doloremque eos temporibus in optio rem? Doloribus quisquam id fugit quasi eos assumenda perspiciatis officia odio illo. Dignissimos laborum eveniet a blanditiis voluptatum quaerat modi aut ad, dolor cupiditate vero fuga corrupti. Id, ex recusandae? Voluptates eius consequuntur magnam assumenda obcaecati quidem velit magni cumque ullam repellendus? Labore illum ipsam amet numquam magnam laudantium repellendus fugit optio! Debitis harum nostrum tempora, odit voluptatibus sit provident eum, numquam facere delectus eius saepe obcaecati nesciunt reprehenderit dicta accusantium deserunt, minus mollitia unde laudantium voluptate. Eligendi doloremque veritatis minus obcaecati, eius repudiandae provident cupiditate nihil dolorum praesentium at, soluta repellendus dolor dolore molestias? Fugit blanditiis, iste nostrum nesciunt dolorem hic explicabo autem repudiandae architecto fuga ea obcaecati quaerat eum vero quod natus. Quia possimus recusandae cum debitis quod sunt eum ipsa sed vitae. Totam dolores ad quaerat amet sapiente quia explicabo vero illum est incidunt distinctio nihil inventore officia dicta, fugiat exercitationem! Laudantium accusamus cum nemo, eum dicta pariatur eos ut voluptatibus alias repellendus officia reprehenderit deleniti quas distinctio quidem temporibus veniam error, perspiciatis blanditiis cumque! Soluta, vero ipsam voluptatum, natus, repellat velit magni inventore vitae ipsum incidunt vel temporibus dolore quisquam officia doloribus. Optio illum non reiciendis consequuntur veritatis pariatur odio dicta incidunt rerum sint atque dignissimos repellendus voluptate, magnam maiores soluta fugiat repellat tempore, quod laudantium quisquam? Dolorum suscipit delectus ipsa adipisci rerum modi ullam maiores, impedit quae ducimus deleniti odio obcaecati alias architecto perferendis facilis mollitia recusandae neque sed minus, atque quod dolores eligendi. Consequuntur consequatur aspernatur laudantium ex nesciunt corporis eveniet porro et ipsum perferendis esse, suscipit debitis libero reprehenderit hic quibusdam natus necessitatibus mollitia omnis deleniti facere quasi voluptatibus! Porro omnis accusamus nesciunt dignissimos fugit quis debitis, exercitationem impedit, perferendis in qui dolorum neque tempora sequi dicta non sapiente facilis blanditiis a quasi accusantium quam, adipisci vero. Ipsam provident ab suscipit reprehenderit alias repellat quo ex id atque nesciunt voluptas facilis, sequi facere neque deleniti esse labore corrupti, ea saepe ducimus quibusdam dolore explicabo? Repudiandae totam dolor cumque culpa eum mollitia ea veritatis quasi vero natus officiis, nesciunt fuga, fugiat neque error eos at est assumenda molestiae excepturi, ut facere consequatur placeat eligendi! Porro necessitatibus fugit rerum, obcaecati voluptatum temporibus beatae deserunt officia totam officiis odit consectetur ipsa amet ipsam! Libero id voluptatem, sit dolore ipsum non reprehenderit explicabo, repellendus odit commodi praesentium blanditiis culpa ullam nisi qui saepe fugit cum? Aspernatur molestiae unde praesentium deserunt laudantium aliquam, iure reiciendis! Sint, rem? Libero nihil iste, nostrum illum reprehenderit totam placeat distinctio et asperiores est impedit odit dolore minima quidem dignissimos ad, consectetur assumenda maiores! Quas iste, illum asperiores officia deleniti, ipsum adipisci, eligendi ratione exercitationem libero quibusdam blanditiis unde aliquid doloribus sapiente earum magni atque dolore. Officia quia laudantium excepturi, cumque odio soluta quod modi suscipit illo quam asperiores nihil odit molestias in? Doloremque distinctio necessitatibus officiis, recusandae in veritatis atque quo aut perspiciatis debitis labore, deleniti accusamus officia architecto rerum magnam sint excepturi eum culpa eaque vero quos rem aliquam laudantium! Laboriosam in nobis tempora nemo vero porro aut ipsum itaque rem quibusdam natus quod quo, impedit saepe officia quas labore aspernatur eveniet accusamus aliquid doloremque soluta? Eligendi asperiores doloribus nisi quae deserunt. Commodi debitis eligendi esse laborum ad et officiis vel. Provident similique ut commodi. Corporis veritatis a dolor praesentium in nesciunt ex debitis error velit quia incidunt beatae nulla provident, reiciendis nemo dolores magni vel fugit rerum aut facilis voluptatum ea sapiente. Architecto enim nemo quo, sunt aliquam atque expedita, asperiores iure corporis optio laborum neque! Numquam blanditiis libero sequi cumque quasi, nobis minima consequuntur nostrum voluptatibus debitis vitae error dignissimos. Quae reiciendis eligendi exercitationem beatae hic, ex asperiores repellendus officia dolorem doloremque? Eligendi, suscipit esse voluptas fugiat accusamus quia sit impedit dolore officia a. Cumque ad praesentium quaerat et assumenda perspiciatis, ut delectus inventore totam. Quisquam labore sunt excepturi laborum ut unde animi pariatur tenetur neque molestiae magni iste error illum tempora laboriosam, praesentium fugiat dolorum assumenda ullam laudantium numquam ipsam reprehenderit aut vel. Dignissimos aperiam temporibus quasi porro harum doloribus facilis, saepe labore soluta reiciendis quaerat eligendi eum hic ipsa illum aspernatur quos atque excepturi laboriosam voluptate non. Expedita harum illo maiores suscipit blanditiis vitae quia eligendi earum. Iusto excepturi molestiae optio fuga ex sequi est in blanditiis soluta officiis officia nostrum ipsam nisi animi quia laborum eum ut quos, itaque neque. Accusantium ducimus quae enim beatae minus! Id et voluptates maxime iusto ducimus unde accusantium dolores delectus quas deserunt perspiciatis numquam veritatis, ab placeat reiciendis at maiores nesciunt nulla sunt sint quam aspernatur, cum modi neque. Magni repellendus consequuntur qui ut cumque rerum dolores molestias est assumenda dolorem sit itaque ducimus beatae molestiae veniam voluptas, voluptate distinctio adipisci. Possimus iste vero necessitatibus esse! Soluta velit cumque iste dignissimos nostrum nemo ullam ut beatae, natus sint? Ipsum, dolorem labore.</p> -->
             <p class="productInfoText">{{data.pedidodetalleer.producto.descripcion}} </p>

             <p>
             <mat-divider></mat-divider>  </p>
             <h3 class="subtitle">Indicaciones especiales</h3>
             <div style="display: block;">
             <small class="productInfoText">Opcional</small>
            </div>
              <mat-form-field appearance="outline"  >
                <mat-label>Nota</mat-label>
                <input matInput [(ngModel)]="nota" ngreques>
                <mat-hint>Enviar indicaciones especiales para su producto</mat-hint>
              </mat-form-field>

            </div>



        <div class="footer">
            <!-- incrementarCantidad(es) -->
            <div>
              <button class="btn btn-light menos" (click)="decrementarCantidad(data.pedidodetalleer)"><i class="fas fa-minus-square"></i></button>
            <span class="cantidad"> {{data.pedidodetalleer.cantidad}}  </span>
            <button class="btn btn-light mas" (click)="incrementarCantidad(data.pedidodetalleer)" ><i class="fas fa-plus-square"></i></button>
        </div>
            <button class="btn  btn-carrito" (click)="agregarDetallePedidoEr(data.pedidodetalleer)"   ><small>Agregar </small>  <small>S/&nbsp;{{data.pedidodetalleer.producto.precio*data.pedidodetalleer.cantidad | number : '1.1-1'}} <span><i class="fas fa-shopping-cart"></i></span></small></button>
        </div>
        <!-- <div class="content-img">

        </div>
        <div class="product-info-container">
    <h3>comida asdadad asdasd asfasfa</h3>
        </div> -->
    </div>
</div>

