<div class="header-container">
    <div class="up-container">
        <div id="header-left-container" class="left-container">
            <div class="main-back-opt" (click)="regresar()"><i class="material-icons backarrow">keyboard_arrow_left</i>
                <p class="title-back">Volver</p>
            </div>
        </div>
        <div id="header-right-container" class="right-container"> </div>
    </div>
</div>




<div class="checkout">

    <div class="container-checkout">

        <div class="container-steps">

            <h1 class="checkout-title"><strong>Checkout</strong></h1>

            <div class="checkout-widget-group">

                <div class="addressEtas">


                    <div class="widget-show-data">
                        <h3 class="title-widget">Datos para la entrega</h3>

                    </div>
                    <form  [formGroup]="formEnvioPedido">
                        <div class="checkout-address-container">

                            <div class="address-description">

                                <!-- <div class="direccionentregaboxitem">

                                    <input type="text" pattern="\d*" maxlength="9" minlength="9" class="form-control" formControlName="telefonoCliente"
                                        placeholder="numero de celular">
                                </div>


                                <div class="direccionentregaboxitem">

                                    <input class="form-control" type="text" placeholder="Escriba su nombre">
                                </div> -->

                                <div class="direccionentregaboxitem">

                                    <select class="form-control comboLugarEntrega" #s (change)="setCostoDelivery(s.options['selectedIndex'])"
                                        formControlName="lugarEntrega">
                                        <option value="" selected>Seleccione un lugar de entrega</option>
                                        <option  value="{{lugar.nombre}}" *ngFor="let lugar of lugaresEntrega; let index">
                                            {{lugar.nombre}}</option>
                                    </select>
                                     <small  id="emailHelp" class="form-text text-danger"
                                     *ngIf="formEnvioPedido.controls['lugarEntrega'].errors?.required">*Debe seleccionar un lugar.</small>
                                </div>
                                <div class="direccionentregaboxitem">

                                    <input class="form-control"  #direccion type="text" placeholder="Escriba su dirección"
                                        formControlName="direccionEntrega">
                                        <small id="emailHelp" class="form-text text-danger"
                                        *ngIf="formEnvioPedido.controls['direccionEntrega'].errors?.required">*Debe escribir una dirección.</small>
                                </div>

                                <div class="direccionentregaboxitem">

                                  <input class="form-control" type="tel"  placeholder="Escriba su numero de celular" (keypress)="numberOnly($event)"
                                      formControlName="celular" maxlength="9" >
                                      <small id="emailHelp" class="form-text text-danger"
                                      *ngIf="formEnvioPedido.controls['celular'].errors">*Debe escribir un numero de celular válido.</small>
                              </div>
                            </div>
                        </div>
                    </form>

                    <div class="widget-show-data">
                        <h3 class="title-widget">Tiempo de entrega:</h3>
                        <div class="section-data">

                            <div class="data">25 - 35 mins</div>

                        </div>
                    </div>


                </div>



            </div>


            <div class="checkout-widget-group">

                <div class="product-section">
                    <div class="head">
                        <h5>Tus productos <span>5 Items</span>
                        </h5>
                    </div>

                    <div class="images-container">
                        <div *ngFor="let pd of detalles; let i = index">
                            <img *ngIf="i<3" class="product-image" src="{{pd.imagenProducto}}">
                            <!-- <img class="product-image" src="https://images.rappi.com/web/no-photos.svg">
                        <img class="product-image" src="https://images.rappi.com/web/no-photos.svg"> -->
                        </div>
                        <div *ngIf="detalles.length>3" id="product-image-complement" class="product-image">
                            <span>+{{detalles.length-3}}</span>
                        </div>


                    </div>
                </div>
            </div>


            <!-- <div class="checkout-widget-group">

                <div class="payment-methods">
                    <div class="widget-show-data">
                        <h3 class="title-widget  salient">
                            Tipo de pago</h3>

                    </div>

                </div>
                <hr>


                <div class="tipopagooptions-section">
                    <div class="radios">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label" for="inlineRadio1">Exacto</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">Necesito vuelto</label>
                        </div>

                    </div>
                </div>


                <div class="coupon-section ">
                    <h5 class="f-body">Cupón</h5>

                    <div class="coupon-section-container">
                        <input type="text" autocomplete="false" placeholder="Ingresa un cupón"
                            class="ng-untouched ng-pristine ng-valid ng-star-inserted">
                        <div><button class="primary-button-filled buttonsmall"
                                disabled=""><strong>Validar</strong></button>

                        </div>
                    </div>
                </div>

            </div> -->

        </div>


        <div class="container-resume">


            <div class="summary-prices-container not-fixed">

                <div class="summary-prices">

                    <ul>
                        <li class="from-backend "><span class="label">Costo de productos
                            </span><span class="price">S/ {{subtotal | number:'1.2'}}</span>

                        </li>
                        <li class="from-backend "><span class="label">Costo de envio
                            </span><span class="price">S/ {{costodelivery | number:'1.2'}}</span>

                        </li>

                    </ul>
                    <hr>
                    <h5>Total<span>S {{(costodelivery+subtotal) | number:'1.2'}}</span></h5>
                </div>

                <div class="order-button-container">
                    <button class="primary-button-filled f-body"
                    (click)="enviarPedido(formEnvioPedido)" [disabled]="formEnvioPedido.invalid || pedidoService.calculartotalitems()==0"  [ngClass]="{'primary-button-filled-disabled' : (formEnvioPedido.invalid ||  pedidoService.calculartotalitems()==0)}"  > Hacer pedido </button>
                </div>

            </div>

        </div>

    </div>


</div>
