.header-container {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    padding: 5px 40px;
    border-bottom: 1px solid #e5edef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.header-container .up-container {
    width: 100%;
    padding: 4px 0;
}


.header-container .left-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.header-container .left-container .main-back-opt {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    cursor: pointer;
    text-align: center;
}

.header-container .right-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.title-back {
    color: #332927;
    font-family: "Poppins-SemiBold", Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: bold;
}

.backarrow{
    color: tomato;
    font-size: 40px;
}

.checkout{
    
        background: #fafaf8;
        width: 100%;
        height: 100%;
        padding-top: 60px;
        min-height: 100vh;
    
}


.container-checkout{
       display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1120px;
    margin: auto;
    padding: 20px 0 70px;
}

.container-checkout .container-steps{
    min-width: 660px;
    margin-right: 20px;
}

.container-checkout .container-steps .checkout-title{
    font-size: 28px;
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
    color: #333;
    margin: 0 30px 20px;
}

.checkout-widget-group {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
}

.widget-show-data{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: auto;
}

.title-widget {
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #332927;
    font-weight: bold;
}

.section-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 10px;
}

.checkout-address-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.checkout-address-container h1{
    width: 100%;
    position: relative;
    color: #332927;
    margin: 10px 0 0 20px;
    font-size: 20px;
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
}

.address-description {
    width: 100%;
    justify-content: flex-start;
    margin-left: 5px;
    padding-right: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
}


.comboLugarEntrega{
    margin-right: 8px;
}

.widget-show-data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: auto;
}

.data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
    color: #333;
    text-align: left;
}

.checkout-widget-group {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
}

.product-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 10px;
}

.product-section .head {
    width: 100%;
}

.head h5 > span {
    display: block;
    color: #9faab7;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    font-family: Poppins-Regular,Helvetica,Arial,sans-serif;
    text-align: initial;
}

 .images-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}

.product-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 5px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid rgba(255,68,31,.5);
}

.checkout-widget-group .images-container #product-image-complement {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 5px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
    color: #fff;
    background-image: linear-gradient(130deg,#ff9259,#ff2426 70%);
    border: none;
}

.primary-button-filled {
    background-color: #0cc665;
    border-radius: 8px;
    font-family: Poppins-Regular,Helvetica,Arial,sans-serif;
    color: #fff;
    padding: 8.5px 14px;
    text-align: center;
    cursor: pointer;
    border: 0;
}

.primary-button-filled-disabled {
    background-color: #98c2ac;
    border-radius: 8px;
    font-family: Poppins-Regular,Helvetica,Arial,sans-serif;
    color: rgb(53, 53, 53);  
    padding: 8.5px 14px;
    text-align: center;
    cursor: pointer; 
    border: 0;
}

 .buttonsmall {
    font-size: 12px;
    padding: 5px 10px;
    min-width: 90px;
}


.coupon-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 10px;
}

.coupon-section .coupon-section-container {
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}




.coupon-section .coupon-section-container > input {
    max-width: 250px;
    color: #332927;
    padding: 7px 20px;
    border-radius: 15px;
    border: 2px solid #efece9;
    margin-right: 30px;
}

.tipopagooptions-section{
    display: grid; 
    grid-template-columns: max-content 1fr;
    grid-gap: 5px;
    padding-bottom: 10px;
}


.radios{
    justify-self: end; 
    width: 100%;
    padding: 0 10px;
}

.direccionentrega{
    grid-column-start: 1;
    grid-column-end: 3;
}

.direccionentregaboxitem{
    padding-left: 8px;
    padding-bottom: 8px; 
}
.container-resume {
    max-width: 660px;
    min-width: 320px;


}

.not-fixed {
    margin-top: 53px;
}

.summary-prices-container{
    background-color: #fff;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 6px 10px 0 rgba(128,98,96,.16);
}

.summary-prices {
    padding: 24px 32px 15px;
    border-radius: 15px 15px 0 0;
    background-color: #fff;
}

ul {
    list-style: none; 
    padding-inline-start: 0px; 
}
.summary-prices> ul > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #9faab7;
    margin-bottom: 15px;
}

.label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 70%;
}

.price{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.summary-prices > h5 {
    margin: 20px 0;
    font-size: 16px;
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: space-between;;
}



.order-button-container {
    width: 100%;
    padding: 0 20px 20px;
    background-color: #fff;
    border-radius: 15px;
}

.order-button-container > button { 
    width: calc(100% - 20px);
    height: 50px;
    color: #fff;
    margin: 0 10px;
}









@media only screen and (max-width: 1280px){

.summary-prices-container {
    max-width: 100%;
    min-width: 330px;
    position: static;
}

}






@media only screen and (max-width: 1024px){

    .container-checkout .container-steps{
        min-width: 0px;
        min-width: 100%;
    }

  

.container-checkout{
    display: flex;
    flex-direction: column;
}

.container-checkout{
    display: flex;
    flex-direction: column;
}

.images-container { 
    justify-content: flex-start;
}

.product-section {
    flex-direction: column;
}

.coupon-section {

   min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  
}


.container-resume {
    margin-top: 0px;
}
.not-fixed {
    margin-top: unset; 
    width: 100%;  
}



     
} 



@media only screen and (max-width: 768px){
    
.address-description{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


.summary-prices{
    margin-bottom: 30px; 
}

.order-button-container > button {
    height: 60px; 
    border-radius: 15px;
}

.order-button-container {
    position: fixed; 
    bottom: 0;
    padding-top: 10px;
    box-shadow: 0 -5px 10px 0 rgba(128,98,96,.16);
}

.label {
    max-width: 60%;
}

.coupon-section {
    flex-direction: column;
    align-items: flex-start;
   
}
    
    .coupon-section .coupon-section-container {
        width: 100%;
        justify-content: space-between;
    }


    .coupon-section .coupon-section-container > input {
        min-width: 160px;
        width: 65%;
        margin-right: 5px;
    } 

    }



    @media only screen and (max-width:472px){
    .direccionentregaboxitem{
        grid-column-start: unset;
        grid-column-end:unset;

    }


    .address-description {
     
        grid-template-columns: 1fr;
    }



    }

    @media only screen and (max-width: 386px){
    

    .tipopagooptions-section
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .radios{
        
        justify-self: start; 
    }
    }