<form (ngSubmit)="onSubmit(form)" #form="ngForm">

<mat-form-field appearance="fill" style="margin-top: 50px;">
  <mat-label>Fecha de inicio</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="fecheInicio1" name="fechaInicio" required>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill" style="margin-left: 20px; margin-top: 50px; margin-right: 20px;">
  <mat-label>Fecha de fin</mat-label>
  <input matInput [matDatepicker]="picker2"  [(ngModel)]="fechaFin1" required name="fechaFin">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>


<button mat-raised-button type="submit" >Generar reporte</button>
</form>



<app-panelestablecimientoreport id="content"  *ngFor="let item of dataAgrupadaAsArray"  [data]="item" [fechaInicio]="fecheInicioParseada" [fechaFin]="fechaFinParseada" ></app-panelestablecimientoreport>
