.header {
    /* esta */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0px 6px 0 rgba(128,98,96,.20);
  align-items: center;

}
a{
  text-decoration: none !important;
  cursor: pointer;
}
.nav{
    /* esta */
  padding: 15px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.navlogocontainer{
    flex: 1;
}

 .logo{
     /* esta */
   width: 50px;
   height: 50px;
   border-radius: 5px;
 }
 .nameLogo{
     /* esta */
   align-items: center;
   margin-left: 15px;
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 1.2px;
   text-transform: uppercase;
   color: #F27E00;
 }


 .sale{
     /* esta */
   float: right;
   display: flex;
   align-items: center;
   /* margin-right: 15px; */
   cursor: pointer;
 }

 .useractionscontainer{
  display: flex;
  align-items: center;
  justify-content: center;
 }


 .buscador{
     /* esta */
   float: right;
   display: flex;
   align-items: center;
   margin-right: 15px;
  }
  .areaTxt{
      /* esta */
    border: none;
  }
  .contIcosSearch{
      /* esta */
    display: flex;
    float: right;
  }

  .mat-icon {
    color:#f27e00;
    font-size: 50px;
    height: 50px;
    width: 50px;
}



 @media only screen and (max-width: 768px){
  .buscador{
    display: none;
  }
  .contIcosSearch{
    display: block;
    float: right;

}

 }

 .login-btn {
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 7px 15px;
  border: none;
  margin: 0 5px;
  font-size: 14px;
  font-family: "Poppins-SemiBold", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(130deg, #ff9259 0%, #ff2426 70%);
  font-weight: bold;
  border: 0px;
}

.usericon{
  font-size: 45px ;
  color: #ff7d37;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}


.user-profile-options {
  display: flex;

  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 65px;
  z-index: -15;
  opacity: 1;
  border: 1px solid #c7c7c7;
  visibility: visible;
  right: 15px;
  min-width: 250px;
  border-radius: 8px;
  background: #FFFFFF;

align-items: center;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
  margin: 10px 20px;
  border-bottom: 1px solid #e5edef;

}

.user-profile-image {
  width: 40px;
  height: 40px;
  background-color: #FAFAF8;
}


.menu-opt-element {
  transition: all 0.3s linear;
  padding: 15px 20px;
  color: #7d7d7d;
  font-size: 14px;
  font-family: "Poppins-Regular", Helvetica, Arial, sans-serif;
  cursor: pointer;
  width: 100%;
}

.menu-opt-element:hover {
  background-color: rgba(255, 68, 31, 0.04);
  color: #FF441F;
}
.username{
display: inline-block;
}



@media only screen and (max-width: 450px) {


  .nav{
    justify-content: center;

  }



}

#changecolor{
  padding: 10px;
  border-radius: 8px;
}

#changecolor {
  animation: color-change 1.5s infinite;
}


@keyframes color-change {
  0% { color: #f27e00;
      background-color: white;
  }
  50% { color: red;

    background-color: #d8dce0;
  }
  100% { color: #f27e00;
    background-color: withe; }
}
