<header class="header">

    <div class="nav">
        <div class="navlogocontainer">
            <a>
            <img src="https://play-lh.googleusercontent.com/Lc8uvk87wBku0KKf6njYNWx93c5uwHSbg9GDcJfYd_qXTSKPOXarNDqrslgBuG2Imbs=s180-rw"
                alt="" class="logo">
            <span class="nameLogo">DeliveryPe</span>
        </a>
        </div>

        <!-- <div class=" contIcosSearch">
            <div class="buscador form-control">
                <input class="areaTxt form-control-sm mr-3 w-100
                " type="text" placeholder="¿Que estas buscando?" aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
            </div>

        </div> -->
        <div id="changecolor" class="sale" (click)="sidenav.toggle()">
         <b> Mira tu Pedido aquí ==></b> &nbsp;&nbsp;&nbsp;

            <mat-icon matBadge="{{pedidoService.calculartotalitems()}}"  matBadgeColor="warn"
                matBadgePosition="below" matBadgeSize="small" color>shopping_basket</mat-icon>


        </div>

        <!-- <div class="useractionscontainer">
            <button *ngIf="!authservide.estaAutenticado()" class="login-btn">Ingresar</button>

            <i *ngIf="authservide.estaAutenticado()" (click)="onbtnusermenuclicked()"
                class="material-icons usericon ">account_circle</i>



        </div> -->

        <div *ngIf="usermenuclicked" class="user-profile-options"  >

            <div class="details-container">

                <div class="profile-img-container"><img class="user-profile-image"
                        src="https://profile-pics.rappi.com/uploads/application_users/default_profile_pic.jpg"
                        alt="user-profile-image"> </div>
                <div>Hola, <b>{{authservide.singedUser.nombreCompleto}}</b></div>



            </div>

            <div class="menu-opt-element">Ver mis ordenes  </div>
            <div class="menu-opt-element">Ajustes de cuenta </div>
        </div>
    </div>


</header>

