figure {
  display: inline-block;
  /* margin-top: 20px; */
}


.contenedor {
  display: grid;
  width: 100%;

  background-color: white;
  grid-template-areas:

    "nombreestablecimiento logodelivery"
    "grafico1 grafico2"
    "grafico3 resumen"
  ;

  justify-content: center;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
}

.nombreestablecimiento {
  grid-row: nombreestablecimiento;
  grid-column: nombreestablecimiento;
  font-size: 70px;
  align-self: center;
  padding-left: 40px;
}

.logodelivery {
  grid-row: logodelivery;
  grid-column: logodelivery;
  justify-self: right;
}

.grafico1 {
  grid-row: grafico1;
  grid-column: grafico1;
  /* justify-self: right; */
  align-self: center;
}

.grafico2 {
  grid-row: grafico2;
  grid-column: grafico2;
  /* justify-self: right; */
  align-self: center;
}

.grafico3 {
  grid-row: grafico3;
  grid-column: grafico3;
  /* justify-self: right; */
  align-self: center;
}

.resumen {
  grid-row: resumen;
  grid-column: resumen;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 150px;
  grid-column-gap: 15px;

}

.resumen .panelinformativo{
  background-color: aqua;
  height: fit-content;
  width: 280px;


}

.boxfont{
  font-size: 30px;
}


.panelinformativo .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
}


.panelinformativo .monto{
  display: flex;
  justify-content: center;


  height: calc(100% - 50px);

}

.mat-card-header{
  justify-content: center;

}

.mat-card-title{
  font-weight: bold;
}

.firma{
  grid-row-start: 2;
  grid-row-end: 3;

  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center  ;
}
