


<div class="contenedor" #report id="report">


  <div class="nombreestablecimiento">

    {{data.establecimiento}}
  </div>

  <div class="logodelivery">
    <img
      src="assets/img/logo-para-reporte.jpg"
       height="200px" style="margin-bottom: 20px;margin-right: 45px">
  </div>

  <div class="grafico1">
    <figure id={{data.establecimiento}}></figure>
  </div>

  <div class="grafico2">
    <figure id="{{data.establecimiento}}graficodiasemana"></figure>
  </div>

  <div class="grafico3">
    <figure id="{{data.establecimiento}}graficolugarventas"></figure>
  </div>

  <div class="resumen">






    <div class="panelinformativo">

      <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title class="boxfont"> Productos</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="monto boxfont"> {{data.productosVendidos}} unidades </div>
        </mat-card-content>

      </mat-card>
    </div>




    <div class="panelinformativo">

      <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title class="boxfont" > Total vendido</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="monto boxfont" > S/ {{data.subtotal | number : '1.0-0'}} </div>
        </mat-card-content>

      </mat-card>

    </div>


    <div class="panelinformativo">

      <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title class="boxfont">Comisión 8%</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="monto boxfont"> S/ {{data.subtotal*0.08 | number : '1.0-0'}} </div>
        </mat-card-content>

      </mat-card>

    </div>
    <div class="firma boxfont" >

      ______________________<br/>
      <b>Ing. Sergio Carrillo Diestra.</b><br/>
      CEO DeliveryPE

    </div>


  </div>

</div>
<div class="detallePedidoContainer">

  <button mat-flat-button color="primary" (click)="imprimirReporteGeneral()">Imprimir Reporte general</button>
  <button mat-flat-button color="primary" (click)="imprimirDetallesPedido()" style="margin-left: 10px">Imprimir detalles</button>
</div>
