.total-width {
    width: 100%;
    padding: 0;
    margin-top: 0px;
}
    .app-span-container{
        display: block;
        margin: auto;
        max-width: 1440px;
    }
        .banner-container {
            margin-bottom: 100px;
        }
            .banner-container {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 100px;
                position: relative;
            }
                .banner {
                    width: inherit;
                    height: auto;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
                    img[class^="img-"] {
                        width: 100px;
                        -webkit-animation: floating 8s ease-in-out infinite;
                        animation: floating 8s ease-in-out infinite;
                        will-change: transform;
                    }
                    .img-1, .img-2 {
                        position: relative;
                    }
                        .img-1 {
                            left: 70%;
                            top: 10px;
                        }
                        .img-2 {
                            left: 10%;
                            top: 35px;
                        }
                    .img-3, .img-4 {
                        position: absolute;
                        top: 280px;
                    }
                        .img-3 {
                            left: 40px;
                        }
                        .img-4 {
                            right: 30px;
                        }
                    .img-5, .img-6 {
                        position: relative;
                    }
                        .img-5 {
                            left: 30%;
                            top: 80px;
                        }
                        .img-6 {
                            width: auto !important;
                            max-height: 105px;
                            left: 55%;
                            top: 50px;
                        }
                    img {
                        max-width: 100%;
                    }

            .location-container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                margin: auto;
                width: 60%;
            }
                .location-container .location-input.border-input {
                    border: 2px solid #efece9;
                }
                .location-container .location-input {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    font-size: 18px;
                    width: 100%;
                    height: 60px;
                    padding: 0 15px;
                    border-radius: 15px;
                    background-color: #fff;
                    margin-right: 20px;
                    max-width: 580px;
                }
                    input, textarea {
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;
                        padding: 8px 12px;
                    }
                    input, input.ng-invalid.ng-touched.isCheckout {
                        border: none;
                    }
                    input {
                        width: 100%;
                        color: #ff441f;
                        text-shadow: 0 0 0  #4f4f4f ;
                        -webkit-text-fill-color: transparent;
                        margin: 0;
                        padding: 0;
                    }
                .location-container button {
                    font-weight: 600;
                    height: 60px;
                    font-size: 18px;
                    border-radius: 15px;
                    margin: 0;
                    width: 20%;
                    border: none;
                }
                .primary-button-filled {
                    background-image: linear-gradient(130deg,#ff9259,#ff2426 70%);
                    border-radius: 8px;
                    font-weight: 500;
                    color: #fff;
                    padding: 8.5px 14px;
                    text-align: center;
                    cursor: pointer;
                }
                a, button {
                    cursor: pointer;
                    outline: none;
                }
                .primary-button-filled:hover {
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
                }




                .banner .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 50px 0;
                    text-align: center;
                    color: #332927;
                    font-family: Poppins-Regular,Helvetica,Arial,sans-serif;
                }
                    .banner .title > h1 {
                        max-width: 90%;
                    }

 @keyframes floating{
    0% {
        transform: translateY(-5%) rotate(3deg);
    }
    65% {
        transform: translateY(5%) rotate(-3deg);
    }
    100% {
        transform: translateY(-5%) rotate(3deg);
    }
}

/*------------------------------------------------*/
.home-guest-container {
    padding: 0;
    width: 90%;
    margin: auto;
}
            .subtitle {
                color: #212121;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 700;
            }
            .cpgs-grid {
                justify-content: space-between;
            }

            .cpgs-grid {
                display: flex;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
            }
            ul {
                list-style: none;
            }
                .cpgs-grid .store-item {
                    align-self: baseline;
                    margin-right: 0;
                }

            .cpg-card {
                margin: 20px 5px;
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                flex-direction: column;
            }

            a, button {
                cursor: pointer;
            }
            a {
                text-decoration: none;
            }
            .storeStatus{
              width: 25px;
              padding: 5px;
              border-radius: 5px;
              background: #28A745;
              color: #fff;
              font-size: 12px;
              font-weight: 600;
            }
            .cerrado, ng-template{
                float: left;
                width: 25px;
                padding: 5px;
                border-radius: 5px;
                background: #FF2426;
                color: #fff;
                font-size: 12px;
                font-weight: 600;
              }

            .cpg-img-container{
                width: 180px;
                height: 180px;
                border-radius: 0px 0px 10px 10px;
                overflow: hidden;
                margin-bottom: 20px;
                position: relative;
            }
                .cpg-img-container img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                  border-radius: 0px 0px 10px 10px;
                }

            .cpg-title {
                text-align: left;
                font-weight: 600;
                font-size: 17px;
                color: #332927;
            }
        .cpgs-grid .store-item {
            align-self: baseline;
        }

        .infoStore{
            align-items: center;
            display: flex;;
        }
        .infoStoreS{
            margin-left: 15px;
        }
        .storeData{
            padding: 15px;
        }
        .logoStore{
            max-width: 100px;
            height: 100px;
            border-radius: 10px;

        }
        .tiendas{
            padding: 30px;
            background-color: #fff;
            margin: 30px;

            border-radius: 15px;
        }
/*----------------------------------------*/

.with-margin {
    margin-top: 100px;
}
.home-badges-card {
    padding: 0;
    width: 90%;
    margin: auto;
        margin-top: auto;
}
.with-margin.items-app {
    padding-bottom: 80px;
}
.with-margin {
    margin-top: 100px;
}
.items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.items .item {
    justify-content: flex-start;
    margin-bottom: 0;
    margin-right: 40px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.items .item .img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #fff;
    min-width: 90px;
    min-height: 90px;
    border-radius: 6.7px;
    box-shadow: 0 6px 10px 0 rgba(128,98,96,.16);
}
.items .item .img i {
    font-size: 60px;
}
    .fa-shapes {
    font-size: 60px;
    color: #fff;
}
.items .item .description h2.title {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0;
    margin-left: 15px;
}
.items .item .description h4.text {
    color: #706967;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 15px;
}

.fa-clock, .fa-heart, .fa-award{
    color: #ff2426;
}

/*------------------------*/

.download-card {
    margin-bottom: 100px;
}
.download-card-content {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    height: 21em;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
}
.download-card-content .info {
    padding: 50px 50px 0;
}
.download-card-content .info .title {
    font-size: 40px;
    font-weight: 600;
    color: #332927;
    margin-bottom: 20px;
}
.download-card-content .info .redirects {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.download-card-content .info .redirects .redirect-download {
    display: inline;
    margin-right: 0;
}
a, button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
.download-card-content .info .redirects .redirect-download .ios-img{
    max-width: 127px;
}

.download-card-content .effect {
    min-width: 580px;
    max-width: 600px;
    position: relative;
    top: -100px;
}
img {
    max-width: 100%;
}
.download-card-content .info .redirects .redirect-download .android-img{
    max-width: 147px;
}
/*------------------------*/

.faq-container {
    width: 100%;
    background: rgba(184,180,180,.25);
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 100px;
}
.faq-container .faq-head {
    width: 50%;
    padding-right: 15px;
}
.faq-container .faq-head .secondary-title {
    text-transform: uppercase;
    color: #706967;
    font-size: 16px;
    font-weight: 600;
}
.faq-container .faq-head .primary-title {
    font-size: 40px;
    font-weight: 600;
    color: #332927;
}
.faq-container .faq-description {
    color: #706967;
    font-size: 18px;
    width: 50%;
}
.pideLo{
    font-size: 40px; font-weight: 600;
}


@media only screen and (max-width:575px)
{

   .tiendas{
       margin: 30px 8px;
       padding: 10px;
   }


    .storeData{
        padding: 2px 8px;
    }

}



@media only screen and (max-width: 450px) {

  .banner{
    display: none;
  }



}

@media only screen and (max-width: 768px) {
    .location-container .location-input {
        margin-right: 0px;
    }





    .banner-container{
        margin: 0px;
    }
    .location-container {
        width: 95%;
        display: flex;
        flex-wrap: wrap;

    }
    .location-container button {
        width: 100%;
        margin-top: 15px;
    }
    .img-1, .img-2, .img-3, .img-4, .img-5, .img-6{
        display: none;
    }
    .items {
        display: flex;
        flex-wrap: wrap;
    }
    .items .item{
        margin-bottom: 15px;
    }
    .download-card-content{
        display: flex;
        flex-wrap: wrap;
    }
    .items .item .description h2.title {
        font-weight: 600;
        font-size: 17px;
    }
    .items .item .description h4.text {
        font-size: 13px;
    }
    .with-margin.items-app {
        padding-bottom: 0px;
    }
    .download-card-content .info .title {
        font-size: 25px;
    }
    .faq-container .faq-head {
        width: 100%;
    }
    .faq-container {
        width: 100%;
        padding: 50px 25px;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row;
    }
    .faq-container .faq-head .secondary-title {
        font-size: 12px;
        font-weight: 600;
    }
    .faq-container .faq-head .primary-title {
        font-size: 20px;
        font-weight: 600;
    }
    .faq-container .faq-description {
        font-size: 12px;
        width: 100%;
    }
    img {
       width: 100%;
    }
    .effect{
        display: none;
    }

}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  h1.example-app-name {
    margin-left: 8px;
  }

  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
