<div class="total-width">
  <div class="app-span-container">
    <div class="banner-container">
      <div class="banner guest-banner">
        <img alt="" class="img-1" src="../../../../assets/img/dulce.webp">
        <img alt="" class="img-2" src="../../../../assets/img/beer-bottle.webp">
        <img alt="" class="img-3" src="../../../../assets/img/tallarines.webp">
        <img alt="" class="img-4" src="../../../../assets/img/cosecha.webp">
        <div class="title">
          <h1 class="pideLo"> Tus platos favoritos a un click de tu hogar.
          </h1>

        </div>
      </div>
      <!-- <div class="location-container">
                <div class="location-input border-input"><i class="iconf-pointer-secondary-fill pointer"></i>
                    <div style="width: 100%;">
                        <input type="text" placeholder="¿Que estas buscando?" class="ng-valid ng-dirty ng-touched" />
                        <div class="suggested-search">
                        </div>
                    </div>
                </div>
                <button class="primary-button-filled"> Buscar </button>
            </div> -->
      <img alt="" class="img-5" src="../../../../assets/img/pollo-cocinado.webp">
      <img alt="" class="img-6" src="../../../../assets/img/arroz-frito.webp">
    </div>



    <div class="tiendas">

      <div class="row">
        <h4 class="col-12 subtitle">Pide lo que necesitas en:</h4>
        <div *ngIf="loadingFlag==true" style="display: block; margin: 0 auto;">
          <mat-spinner [diameter]="50"> </mat-spinner>
          </div>

        <div class="col-sm-6 col-md-4 col-lg-3 storeData" *ngFor="let es of establecimiento" let i=index>
          <button class="btn btn-light btn-block" type="button" (click)="onProductoClick(es)">
            <!-- [disabled]="!es.abierto"  -->
            <span>
              <div class="infoStore">
                <img class="logoStore" src="{{es.logo}}" alt="">
                <div class="infoStoreS">
                  <h4 class="cpg-title">{{es.nombre}}</h4>
                  <!-- <div class="storeStatus" *ngIf="es.abierto == true; else elseBlock">
                    <span class="btn-block" title="Abierto"><i class="fas fa-door-open"></i></span>
                  </div>
                  <div>
                    <ng-template #elseBlock><span class="cerrado" title="Cerrado"><i
                          class="fas fa-door-closed"></i></span></ng-template>
                  </div> -->
                </div>
              </div>
            </span>
          </button>
        </div>

      </div>
    </div>
    <!---->
    <div class="home-badges-card with-margin">
      <div class="with-margin items-app">
        <div class="items">
          <div class="item">
            <div class="img"><i class="far fa-clock"></i></div>
            <div class="description">
              <h2 class="title">Ahorra tiempo</h2>
              <h4 class="text">Recibe tu mercado en menos de 1 hora
              </h4>
            </div>
          </div>
          <div class="item">
            <div class="img"><i class="far fa-heart"></i></div>
            <div class="description">
              <h2 class="title">En manos expertas</h2>
              <h4 class="text">Un shopper selecciona tus productos con amor</h4>
            </div>
          </div>
          <div class="item">
            <div class="img"><i class="fas fa-award"></i></div>
            <div class="description">
              <h2 class="title">Calidad 100%</h2>
              <h4 class="text">Si no te gusta el estado de un
                producto, ¡no lo pagas!</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="download-card">
        <div class="download-card-content">
          <div class="info">
            <h2 class="title"> Disfruta una mejor experiencia descargando la app </h2>
            <div class="redirects">
              <!-- <a target="_blank" class="redirect-download ios" href="#">
                                <img alt="app-store-img" class="ios-img"
                                    src="../../../../assets/img/apple-store_app-store-es.webp">
                            </a> -->
              <a target="_blank" class="redirect-download android"
                href="https://play.google.com/store/apps/details?id=com.dscorp.deliveryp">
                <img alt="play-store-img" class="android-img"
                  src="../../../../assets/img/play-store_play-store-es.webp">
              </a>
            </div>
          </div>
          <div class="effect">
            <img src="../../../../assets/img/app.svg" alt="app-image-url" title="app-image-url" class="ng-lazyloaded">
          </div>
        </div>
      </div>
      <div class="faq-container">
        <div class="faq-head">
          <h4 class="secondary-title"> FAQ </h4>
          <h2 class="primary-title"> ¿Cuál aplicación debo usar para pedir comida? </h2>
        </div>
        <p class="faq-description"> Con una rutina cada vez más ocupada, a veces hay poco tiempo para pensar
          en el menú de la semana o el plato del día. ¡DeliveyPe reúne los mejores restaurantes de tu ciudad!
          Encuentra desde platos rápidos hasta alternativas saludables. Recibe tu pedido rápidamente y ten
          la seguridad de nuestra garantía de calidad en la entrega.
        </p>
      </div>
    </div>
  </div>
</div>
