<h1 mat-dialog-title>Ingrese su numero de celular</h1>


<div mat-dialog-content>
  <!-- <p>Ingrese su numero de celular</p> -->



  <mat-form-field style="margin-bottom: 15px;">
    <mat-label> Numero de celular</mat-label>
    <span matPrefix>+51 - &nbsp; </span>
    <input type="tel" matInput  [(ngModel)]="data.telefono" [formControl]="fcontroltelefono">
    <mat-icon matSuffix>stay_current_portrait</mat-icon>

    <mat-error *ngIf="fcontroltelefono.invalid">
      Debe ingresar un numero de celular valido
    </mat-error>
  </mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onBtnActionOK()" cdkFocusInitial
  class="btncontinuar">Continuar</button>
</div>
