<div class="content  shadow-sm">

  <div class="example-container">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="nombreEstablecimiento">
        <th mat-header-cell *matHeaderCellDef> nombreEstablecimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreEstablecimiento}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lugar">
        <th mat-header-cell *matHeaderCellDef> lugar </th>
        <td mat-cell *matCellDef="let element"> {{element.lugar}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tiempo">
        <th mat-header-cell *matHeaderCellDef> tiempo </th>
        <td mat-cell [ngStyle]="{'background-color': definirColorTiempo(element.tiempo)}" *matCellDef="let element"> {{element.tiempo}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha|date:"M/d/yy, h:mm a"}} </td>
      </ng-container>

      <ng-container matColumnDef="Accion">
        <th mat-header-cell *matHeaderCellDef> Accion </th>
        <td mat-cell *matCellDef="let element">

                <button mat-mini-fab color="warn" (click)="aceptarApoyo(element.id)">
                  <mat-icon>done</mat-icon>
                </button>

                <button style="margin-left: 15px" mat-mini-fab color="primary"  (click)="rechazarApoyo(element.id)">
                  <mat-icon >clear</mat-icon>
                </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
