

    <div id="mainContainer">

        <div id="containerlogo">
            <!-- <p>asasd</p> -->
    
            <img id="logo"
                src="https://firebasestorage.googleapis.com/v0/b/delivery-p.appspot.com/o/interface%2Flogooptimizado.png?alt=media&token=56834fd0-c38b-40e1-92e9-bb177223398b">
        
            </div>
     
        <div id="containerLogin">
            <!-- <p>asasd</p> -->
    
            <h1 class="title ">Entrar usando</h1>
    
            <div id="containerLoginForm">
    
                <form> 
                    <button class="btn btn-primary btnfacebook" (click)="fbAuth()" > 
                        <i class="material-icons">facebook</i>
                        <div class="btn-auth-title f-caption-1"><span>Facebook</span></div>
                    </button>

                    <button class="btn btn-secondary btnfacebook" (click)="googleAuth()">
                        <i class="material-icons">facebook</i> 
                        <div class="btn-auth-title f-caption-1"><span>Google </span></div>
                    </button>
                </form>
    
            </div>
    
        </div>
    
    
    
    
    </div>
 
