

#mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
   
    justify-self: center;
    max-width: 1440px;
    /* background-color: red; */
    margin: 80px auto;
}

@media only screen and (max-width: 1280px), screen and (orientation: portrait){ 
#mainContainer{
    max-width: 1240px;
    width: 100%;
}
}


@media only screen and (max-width: 1024px), screen and (orientation: portrait){
    #mainContainer {
    width: 100%;
}
}


@media only screen and (max-width: 768px){
#mainContainer  {
    transition: all .3s ease;
    min-height: 700px;

    
}
#mainContainer{
    grid-template-columns: 1fr; 
    grid-template-rows: 35vh  min-content  ;  
}


#containerlogo{
 
   justify-items: unset;
   align-items: center;
 
}

#containerLoginForm{

    margin-top:8px;

}

.title{
   display: flex;
   justify-content: center;
}
}

#containerlogo{
   
    /* background-color: violet; */
    border-right: 1px solid #e5edef;
 
    display: grid;
   justify-items: center;
   align-items: center;
 
}
 

#containerLogin{
    width: 400px;
    margin: 0 auto;
    /* background-color: yellow;   */
    grid-template-columns: 1;
   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
}

#logo{
    width: 300px;  
}

#containerLoginForm{
   align-self: center;
}

.title{
    font-family: Poppins-SemiBold,Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
}

.btnfacebook{
   margin-top: 8px;
    width: 100%; 
    display: grid;
    grid-template-columns: max-content 1fr;
font-weight: bold;
}

