  /* mat-icon-stepper selected color change  */
  ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: red!important;
}

/* input outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #c5c5c5!important;
    opacity: 1!important;
}

/* mat-input focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #6b6b6b!important;
}

 /* mat-input error outline color */
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: rgb(0, 0, 0)!important;
    opacity: 0.8!important;
}

 /* mat-input carent color */
::ng-deep .mat-input-element {
    caret-color: rgb(7, 7, 7)!important;
}

 /* mat-input error carent color */
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: red!important;
}

 /* mat-label normal state style */
::ng-deep .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
     /* color: $mainColor!important; */
}

 /* mat-label focused style */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #3f3f3f!important;
}

 /* mat-label error style */
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}