<div class="content  shadow-sm">

   <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

     <mat-table [dataSource]="dataSource" matSort >

       <!-- Columna nombre -->
       <ng-container matColumnDef="nombre">
         <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
         <mat-cell *matCellDef="let establecimiento"> {{establecimiento.nombre | uppercase}} </mat-cell>
       </ng-container>




       <!-- Columna Ttpo establecimiento -->
       <ng-container matColumnDef="descripcion">
         <mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </mat-header-cell>
         <mat-cell *matCellDef="let establecimiento"> {{establecimiento.descripcion | uppercase}} </mat-cell>
       </ng-container>

              <!-- Columna Ttpo establecimiento -->
              <ng-container matColumnDef="direccion">
               <mat-header-cell *matHeaderCellDef mat-sort-header> DIRECCION </mat-header-cell>
               <mat-cell *matCellDef="let establecimiento"> {{establecimiento.direccion | uppercase}} </mat-cell>
             </ng-container>




         <!-- Columna Botones -->
         <ng-container matColumnDef="action"  >
           <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
           <mat-cell *matCellDef="let establecimiento">


           <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
<!--            <button mat-menu-item [routerLink]="['/listProductsByEstab']">-->
<!--              <mat-icon>add</mat-icon>-->
<!--              <span>Ver / Agregar Productos</span>-->
<!--            </button>-->

            <button mat-menu-item (click)="routelistarPromociones(establecimiento)">
              <mat-icon>fact_check</mat-icon>
              <span>Promociones</span>
            </button>


            <button mat-menu-item (click)="routelistarProductos(establecimiento)">
              <mat-icon>fact_check</mat-icon>
              <span>Productos</span>
            </button>
          </mat-menu>


         </mat-cell>
       </ng-container>

       <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
       <mat-row *matRowDef="let row; columns: displayedColumns;">
       </mat-row>
     </mat-table>

 </div>
