*{
  font-size: 100%;
}
.disable{
  pointer-events:none;
  display: none;

}
/*CSS - INFOSTORE*/
.imgStore{
  width: 100%;
  height: 350px;
  overflow: hidden;
  align-items: center;
  border-radius: 5px;
}
  .banner{
    width: 100%;
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }

.info-store{
  display: flex;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);

}
  .info-store a{
    text-decoration: none;
  }
  .name-store{
    text-align: center;
    color: #FFF;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .home{

    text-align: center;
    margin-top: 5px;
    width: 100px;
    padding: 5px;
    background-color: #332927;
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgba(128,98,96,.16);

  }
  .retornarHome{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }


.by-stores{
  max-width: 1444px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .by-store-cont{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    max-width: 100%;

  }
    .nameCategory{
      margin-bottom: 20px;
    }
a{
  text-decoration: none !important;
}
.cont-info-store{
  align-items: center;
  padding: 10px;
}
.cont-info-store:hover{
  box-shadow: 2px 2px 5px #999;
  border-radius: 5px;
}

.store-container img{
  width: 128px;
  -o-object-fit: cover;
  object-fit: cover;
  height: 99px;
  border-radius: 15px;
  margin-right: 15px;
}
.store-item{
  display: flex;
}
.nameStatu{
  align-items: center;
}
.title-store{
  color: #212121;
  font-size: 13;
}
.estadoStock-dis{
  background-color: #28A745;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
}
.estadoStock-ago{
  background-color: #FFC107;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
}
.store-tags{
  color: darkgray;
  font-size: 12px;
}
.precio{
  font-weight: 600;
  color: #212121;
  align-items: center;
  font-size: 13px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.status-producto{
  font-weight: 600;
  color: #212121;
  align-items: center;
  font-size: 12px;
}
.store-item-divider {
  padding-top: 15px;
  border-bottom: 1px solid rgba(229,229,228,.6);
  margin-bottom: 20px;
}
.cantidad{
  align-items: center;
}
.menos, .mas{
  margin-left: 5px;
  margin-right: 5px;
}
.spacio{
  flex: 1;
}



.btn-carrito {
  background-image: linear-gradient(130deg,#ff9259,#ff2426 70%);
  border-radius: 5px;
  border: none;
  font-weight: 500;
  display: inline-block;
  color: #fff;
  padding: auto;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 768px){

  .banner{
   width: unset;
}

}


@media only screen and (max-width: 450px){
#panelimagen{
  display: none;
}


.home{
  margin-top: 75px;
}

.by-store-cont{
  margin: 0px;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  max-width: 100%;

}

}
