
<!-- -->
<div class="col-12" id="panelimagen" >
  <div class="imgStore">
    <img src="https://cdn.pixabay.com/photo/2015/12/08/00/42/cupcakes-1081963_960_720.jpg" alt="" class="banner">
  </div>

  <div class="info-store">
        <h4 class="name-store">Restaurantes, Polleria y muchas cosas mas! </h4>
  </div>
</div>
<div class="col-12">
  <div class="home">
    <a routerLink="/inicio" class="retornarHome"><span><i class="fas fa-home"></i> Regresar</span></a>
  </div>
</div>
<!----->
<div class="by-stores" style="cursor: pointer;">

<div class="by-store-cont">
  <article>
    <div class=" row">

      <div *ngIf="loadingFlag==true" style="display: block; margin: 0 auto;">
        <mat-spinner [diameter]="50"> </mat-spinner>
        </div>
      <div class="col-sm-12	col-md-6 col-lg-4" *ngFor="let es of productsToPedidoDetalle" let i = index>
        <div class="cont-info-store">
          <a class="store-item">
            <div class="plusImg">
              <div class="store-container">
                <img class="store-background"
                  src={{es.producto.imagen}}>
              </div>
            </div>
            <span class="store-info">
              <div class="row nameStatu">
                <h2 class="col-12 title-store"> {{es.producto.nombre}}</h2>
              </div>
              <h3 class="store-tags"> {{es.producto.descripcion}}
              </h3>
              <div class="status-producto" *ngIf="es.producto.disponible == true; else elseBlock" >
                <span class="estadoStock-dis">disponible</span>
            </div>
            </span>
          </a>
          <div class="status-producto">
            <ng-template  #elseBlock ><span class="estadoStock-ago"  >agotado</span></ng-template>
          </div>
          <div class="precio">
            <span><i class="fas fa-coins"></i> S/. {{es.producto.precio | number:'1.2' }}</span>
            <!-- <button class="btn btn-light menos" [disabled]="!es.producto.disponible" (click)="decrementarCantidad(es)"><i class="fas fa-minus-square"></i></button>
            <span class="cantidad"> {{es.cantidad}}  </span>
            <button class="btn btn-light mas" [disabled]="!es.producto.disponible" (click)="incrementarCantidad(es)"><i class="fas fa-plus-square"></i></button> -->
            <button class="btn  btn-carrito" [disabled]="!es.producto.disponible" (click)="openDialog(es)">Agregar <span><i class="fas fa-shopping-cart"></i></span></button>
        </div>
        </div>
        <div class="store-item-divider"></div>
      </div>

    </div>
  </article>
</div>
</div>

