<form style="

display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;

"  #f="ngForm" (ngSubmit)=" actualizarProducto(f)">


  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="lproductoService.productoSeleccionado.nombre" name="nombre" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>precio</mat-label>
    <input matInput  [(ngModel)]="lproductoService.productoSeleccionado.precio" type="number" name="precio" required>
  </mat-form-field>

  <img src="{{lproductoService.productoSeleccionado.imagen}}" style="
grid-column: 2 / 3;
grid-row: 1 / 6;
width: 100%;
">


  <input type="file"
         id="upload"   (change)="handleFileInput()" style="

grid-row: 6 / 7;
grid-column: 2/ 3 ;

width: 100%;
height: min-content;
" />




  <mat-form-field class="example-full-width">
    <mat-label>Disponible</mat-label>
    <input matInput [(ngModel)]="lproductoService.productoSeleccionado.disponible" name="disponible" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label >categoria</mat-label>
    <input matInput [(ngModel)]="lproductoService.productoSeleccionado.categoria" name="categoria" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>descripcion</mat-label>
    <input matInput [(ngModel)]="lproductoService.productoSeleccionado.descripcion" name="descripcion" required>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>prioridad</mat-label>
    <input matInput [(ngModel)]="lproductoService.productoSeleccionado.prioridad" type="number" name="prioridad" required>
  </mat-form-field>

<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>descripcion</mat-label>-->
<!--    <input matInput [(ngModel)]="lproductoService.productoSeleccionado.descripcion" name="descripcion" required>-->
<!--  </mat-form-field>-->

  <button mat-flat-button color="primary"  type="submit">Guardar</button>

</form>
