<div class="content  shadow-sm">

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>


  <div style="display: grid;grid-template-columns: min-content 1fr">


    <div class="example-container">
      <mat-table [dataSource]="dataSource">

        <!-- Columna nombre -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE</mat-header-cell>
          <mat-cell *matCellDef="let producto"> {{producto.nombre | uppercase}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion</mat-header-cell>
          <mat-cell *matCellDef="let producto"> {{producto.descripcion}} </mat-cell>
        </ng-container>

        <!-- Columna Ttpo establecimiento -->
        <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO</mat-header-cell>
          <mat-cell *matCellDef="let producto"> {{producto.precio | currency}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="accion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Seleccionar</mat-header-cell>
          <mat-cell *matCellDef="let producto">

            <button mat-mini-fab color="primary" (click)="seleccionarProducto(producto)">
              <mat-icon>check</mat-icon>
            </button>

          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>


    <div style="display: grid;grid-template-columns: 1fr ;grid-gap: 15px;justify-self: center">

      <img src="{{productoSeleccionado!=null?productoSeleccionado.imagen:''}}"
           style="justify-self: center;width: 250px; border-radius: 15px"/>


      <mat-form-field class="example-full-width">
        <mat-label>Producto</mat-label>
        <input matInput [(ngModel)]="productoSeleccionado.nombre" disabled>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descrpcion</mat-label>
        <input matInput disabled [(ngModel)]="productoSeleccionado.descripcion">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Precio</mat-label>
        <input matInput disabled [(ngModel)]="productoSeleccionado.precio">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Validez En dias</mat-label>
        <input type="number" matInput  [(ngModel)]="validezdias">
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="registrarPromocion()">Registrar</button>
    </div>

  </div>


</div>
