/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; background-color: #FAFAF8;}
body { margin: 0; font-family: 'Poppins', sans-serif; }
*:focus {
    outline: none;
}


.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
    background-color: #fafaf8;

  }

  button:focus {outline:0;}



  .mat-drawer-container {
    padding-top: 80px;
  }
