<div class="content  shadow-sm">

    <form>

        <div class="form-row align-items-center">
            <div class="col-auto">



                <mat-form-field appearance="standard">
                    <mat-label>Categoria</mat-label>
                    <mat-select >
                        <!-- <mat-option>--</mat-option> -->
                        <mat-option *ngFor="let c of categoriasList |async" [value]="c.nombre">
                            {{c.nombre}}
                        </mat-option>
                    </mat-select>
                    <!-- <mat-error
                        *ngIf="establecimientoForm.controls['categoriaEstablecimiento'].errors?.required">El
                        campo es requerido</mat-error> -->
                    <!-- <mat-hint>

                <mat-form-field appearance="standard">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" value="asd">
                 <mat-error *ngIf="establecimientoForm.controls['direccion'].errors?.required">El campo es
                        requerido</mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Descripcion</mat-label>
                    <input matInput  value="asd">
                    <!-- <mat-error *ngIf="establecimientoForm.controls['direccion'].errors?.required">El campo es
                        requerido</mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Precio</mat-label>
                    <input matInput  value="asd">
                    <!-- <mat-error *ngIf="establecimientoForm.controls['direccion'].errors?.required">El campo es
                        requerido</mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Imagen</mat-label>
                    <input matInput  value="asd">
                    <!-- <mat-error *ngIf="establecimientoForm.controls['direccion'].errors?.required">El campo es
                        requerido</mat-error> -->
                </mat-form-field>



            </div>

          </div>

    </form>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

    <mat-table [dataSource]="dataSource">

        <!-- Columna nombre -->
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </mat-header-cell>
            <mat-cell *matCellDef="let producto"> {{producto.nombre | uppercase}} </mat-cell>
        </ng-container>




        <!-- Columna Ttpo establecimiento -->
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </mat-header-cell>
            <mat-cell *matCellDef="let producto"> {{producto.descripcion | uppercase}} </mat-cell>
        </ng-container>

        <!-- Columna Ttpo establecimiento -->
        <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef mat-sort-header> PRECIO </mat-header-cell>
            <mat-cell *matCellDef="let producto"> {{producto.precio}} </mat-cell>
        </ng-container>



        <!-- Columna Botones -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let producto">

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openDialogModificarProducto(producto)">
                        <mat-icon>add</mat-icon>
                        <span>Editar</span>
                    </button>
                </mat-menu>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

</div>
